  <p-panel>
      <p-header>
        <button pButton type="button" icon="pi pi-plus" label="Adicionar" (click)="showDialog()" class="ui-button-info"></button>
      </p-header>
      <p-table [value]="produtos" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header">
            <tr>
              <th>id</th>
              <th>Nome</th>
              <th>Categoria</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th>Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-produto>
            <tr>
              <td>{{produto.id}}</td>
              <td>{{produto.nome }}</td>
              <td>{{produto.categoria}}</td>
              <td>{{produto.quantidade}}</td>
              <td>{{produto.preco}}</td>
              <td>
                <button type="button" (click)="show(produto.id)" pButton icon="pi pi-pencil" label="Editar"></button>
                <button (click)="delete(produto.id)" ><i class="pi pi-trash"></i>Excluir</button>
              </td>
            </tr>
          </ng-template>
      </p-table>
  </p-panel>

<p-dialog header="Adicionar novo produto" [(visible)]="display">
    <div class="p-grid">
      <div class="p-col-6">
        <span class="p-col-2">Nome</span>
        <div class="p-col-4">
          <input pInputText type="text" [(ngModel)]="produto.nome">
        </div>
      </div>
      <div class="p-col-6">
        <span class="p-col-2">Categoria</span>
        <div class="p-col-4">
          <input pInputText type="text" [(ngModel)]="produto.categoria" >
        </div>
      </div>
      <div class="p-col-6">
        <span class="p-col-2">Quantidade</span>
        <div class="p-col-4">
          <input pInputText type="text" [(ngModel)]="produto.quantidade" >
        </div>
      </div>
      <div class="p-col-6">
        <span class="p-col-2">Valor</span>
        <div class="p-col-4">
          <input pInputText type="text" [(ngModel)]="produto.preco" >
        </div>
      </div>
      <div class="p-col-10 p-offset-2">
          <button pButton type="submit" (click)="salvar()" [label]="button"></button>
      </div>

    </div>
</p-dialog>

